/* Prevent horizontal resize of textarea */
textarea {
  resize: vertical;
}

/* Set background */
body {
  background: url('/img/bg3.jpg');
  padding-bottom: 20px;
}

/* Bootstrap element used on login page, but I don't want any background */
.jumbotron-transparent {
  background: none;
}

/* Set height of table displaying comments in a task dialogue */
.taskLogContainer {
  height: 250px;
  overflow-y: auto;
}

.archivedTaskContainer {
  height: 400px;
  overflow-y: auto;
}

/*
 * Card*-classes are used in both Board- and Dashboard-views.
 */

.card-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  width: 300px;
  height: 150px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
  background: white;
}

.card-primary {
  background-color: $brand-primary;
  color: white;
}

.card-postit {
  background-color: #ffff99;
  background: linear-gradient(to bottom left, #ffffad, #ffff99);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .card-title {
  display: block;
  font-size: 1.7em;
  text-align: center;
  word-wrap: break-word;
}

.card .card-footer {
  display: block;
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 85%;
}
